.support-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.support-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

.text-area{
  border: 1px solid
}

.login-button {
  width: 100%;
  // border-radius: 30px;
  font-size: 0.9em;
  height: 40px;
  // border: 1px solid #fff;
  background-color: #39acdc;
}