<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Patient List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <div class="pins">
    <ion-card class="pin" *ngFor="let post of patients" routerLink="/app/tabs/realstate/view/{{post.id}}">
      <img src="assets/img/user-image.png" />
      <div class="post-description">
        <small><b>{{ post.name }}</b></small><br />
        <small><b>{{ post.dateofadmit }}</b></small><br />
        <small>{{ post.area }}</small><br />        
      </div>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/marty-avatar.png">
        </ion-avatar>
        <small>{{post.process}}</small>        
      </ion-item>
    </ion-card>
  </div>
</ion-content>