<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>Patient Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="housing-image" [ngStyle]="{ 'background-image': 'url(' + 'assets/img/user-image.png' + ')'}">
    <section class="housing-banner" padding>
      <span class="housing-title">{{patientDetail?.name}}</span>
      <span>{{patientDetail?.area }}</span>
    </section>
  </section>
  <section class="main-content">
    <ion-grid class="main-features">
      <ion-row>
        <ion-col text-center *ngFor="let feature of patientDetail?.disease">
          <ion-icon name="ios-document"></ion-icon>
          <span>{{feature}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="listing-details">
      <ion-row>
        <p margin-left margin-right no-margin-top style="text-align: justify">
          {{patientDetail?.description}}
        </p>
      </ion-row>      
      <ion-row *ngFor="let a of [1,2,3,4,5,6,7,8,9,10]">
        <small><b>Treatment #{{a}}</b></small>
        <ion-col>
            Another method is to wrap you in a special cooling blanket and apply ice packs to your groin, neck, back and armpits to lower your temperature. Give you medications to stop your shivering. If treatments to lower your body temperature make you shiver, your doctor may give you a muscle relaxant, such as a benzodiazepine.
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
<ion-footer>
  <button ion-button large full no-margin color="danger">
    get in touch now
  </button>
</ion-footer>